[mysqld]

# Enable slow query logging
#long_query_time=1
#slow_query_log=1
#slow_query_log_file=/dev/stdout

# Optimize memory usage trading performance
innodb_buffer_pool_size=33554432
innodb_buffer_pool_instances=1
innodb_log_file_size=256M
wait_timeout = 3600
