# *     *     *     *     *  command to be executed
# -     -     -     -     -
# |     |     |     |     |
# |     |     |     |     +----- day of week (0 - 6) (Sunday=0)
# |     |     |     +------- month (1 - 12)
# |     |     +--------- day of month (1 - 31)
# |     +----------- hour (0 - 23)
# +------------- min (0 - 59)

# */10    *     *     *     *  /var/www/.docksal/cron/script1.sh
# */5     *     *     *     *  /var/www/.docksal/cron/script2.sh
